.UpdateModalSubmit {
    font: inherit;
    background-color: #f50;
    border: none;
    color: white;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    width: 310px;
    border-radius: 5px;
}

.UpdateModalSubmit:hover {
    background-color: rgb(247, 155, 110);
}
