.charts {
  margin-top: 100px;
  padding-bottom: 20px;
}

img {
  width: 200px;
  height: 200px;
}

.songs__container {
  width: auto;
}

.genre__container {
    width: 1500px;
    margin: auto;
    position: relative;
  }

.owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-carousel .item {
      text-align: center;
  }
  
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }

  .owl-carousel .prev-slide{
      background: url("../../images/left.png") no-repeat scroll 0 0;
      left: -33px;
      background-size: cover;
  }
  .owl-carousel .next-slide{
      background: url("../../images/right.png") no-repeat scroll -24px 0px;
      right: -33px;
      background-size: cover;
  }
  .owl-carousel .prev-slide:hover{
    opacity: 0.5;
  }
  .owl-carousel .next-slide:hover{
    opacity: 0.5;
  }

h2 {
  padding-bottom: 40px;
}

.item {
  padding: 10px;
  width: 200px;
}

.title, .artist {
  padding-top: 5px;
}

.title {
  font-size: 20px;
}

.artist {
  font-size: 15px;
  color: gray;
}

.audio__player {

}

.play__button {
  font-size: xx-large;
}

.image__container {
  display: flex;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  margin-left:auto;
  margin-right:auto;
}

.image2 {
  position: absolute;
  width: 100px;
  height: 100px;
  margin:50px;
}

.image2:hover {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 50px;
  background-image: url('../../images/playButton.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.like {
  bottom: 10px;
  right: 10px;
  position: absolute;
  width: 18px;
  height: 18px;
  background: url('../../images/like.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border-style: none;
}

.like:hover {
  bottom: 10px;
  right: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../../images/like-filled.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.like:active {
  outline: none;
  border: none;
  background: url('../../images/like-filled.png');
}
.like:focus {
  outline: 0;
  bottom: 10px;
  right: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../../images/like-filled.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.liked {
  bottom: 10px;
  right: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../../images/like-filled.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border-style: none;
}

.liked:hover {
  bottom: 10px;
  right: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../../images/like-filled.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.liked:active {
  outline: none;
  border: none;
  background: url('../../images/like-filled.png');
}
.liked:focus {
  outline: 0;
  bottom: 10px;
  right: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../../images/like-filled.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
}