.LogoutModalSubmit {
    font: inherit;
    background-color: #f50;
    border: none;
    color: white;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    

}
