
.playlist-area {
  height: 0;
  position: absolute;
  margin-left: 20px;
  top: 400px;
}

.playlists-area {
  /* border-right: 1px solid gray; */
  height: 1400px;
  max-width: fit-content;

  
}

.playlists-area > div {
  /* margin-left: 100px; */
  /* border-bottom: 1pt solid gray; */
  padding: 10px;
  cursor: pointer;
  background-color: white;
  
}

.playlist {
  /* margin-left: 100px; */
  background-color: white;
  height: 0;
  
}


.playlist-names-outer {
  background-color: white;
  /* width: 1500px; */
  
}

.playlist-names-outer > div{
  background-color: white;
  width: 130px;
  border-bottom: 1pt solid gray;
  /* height: 500px; */
}
.playlist-names-outer > div:hover{
  background-color: whitesmoke;
  width: 130px;
  border-bottom: 1pt solid gray;
}

