
body {
  background-color: whitesmoke;
}

.profile__page {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.profile__outer-div {
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #bdc3c7 , #2c3e50);
  width: 1400px;
}

.profile__banner-div {
  display: flex;
  padding: 20px;

  
}

.names__div {
  width: 200px;
  padding-left: 20px;
  color: white;
}

.profile__image-div > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 5px;
  font-size: 0.9em;
}

.profile__image-div {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    font-size: 100px;
    text-align: center;
    background-color: #f50;
    color: whitesmoke;
}

.profile__image-div > div {
  margin-top: 20%;
}

.profile__image-div > img:hover:after {
    display: block;
    opacity: 10%;
}

.label:after {
    content: "";
}

.profile__image-div:hover:after {
    /* display: inline-block;
    vertical-align: middle; */
    /* align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "Edit";
    align-content: center;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
    background-color: rgba(32, 15, 15, 0.3);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-navbar{
  display: flex;
  justify-content: space-between;
}

.profile-navbar_links{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 100px;
  padding-top: 20px;
}

.profile-navbar_link, .profile__btn {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: none;
  background: none;
}

.profile-navbar_link:hover, .profile__btn:hover {
  color: #f04747;
  font-weight: 600;
  cursor: pointer;
}

.profile__btn:focus {
  color: #f04747;
  font-weight: 600;
  background: none;
}

.profile-navbar_below {
  border-top: solid 1px gray;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
}