
.uploaded__div--outer {
  display: flex;
  padding: 30px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;

}

.uploaded__div--inner {
  display: flex;
  flex-wrap: wrap;
  border-style: none;
  width: 2000px;
}

.item__uploaded {
  padding: 20px;
  border-style: none;
  height: 250px;
}

.user__info {
  display: flex;
  border-left: 1px solid gray;
  padding-left: 20px;
  width: 700px;
  height: 1200px;
}

.following, .followers, .tracks {
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  height: 30px;
}

.tracks > div, .followers > div, .following > div {
  text-align: left;
  padding-top: 10px;
  font-size: 20px;
}

.followers, .tracks {
  border-left: 1px solid gray;
}