.comments {
  display: flex;
  margin-left: 50px;
}

.comment_image {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 5px;

}

.comment_image > img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 5px;

}

.comment_username {
  font-size: 15px;
  color: gray;
}

.username-comment__container {
  padding: 10px;
  
}

.CommentsInputContainer {
  padding: 10px;
  margin-top: 40px;
  margin-left: 50px;
}

.input_div > input {
  
  border: none;
  margin-left: 40px;
  border-bottom: 1px solid gray;
  width: 1250px;

}

.input_div > input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  width: 1250px;
}

.CommentsInputContainer > div{
  padding-bottom: 30px;
  font-weight: bolder;
  font-size: 30px;
}

.input_div {
  margin-right: 100px;
}