.song_page {
  position: relative;
  margin-bottom: 1000px;
}

.comments {
  display: flex;
  margin-left: 50px;
}

.comment_image {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.comment_image > img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.comment_username {
  font-size: 15px;
  color: gray;
}

.username-comment__container {
  padding: 10px;
  
}

.CommentsInputContainer {
  padding: 10px;
  margin-top: 40px;
  margin-left: 50px;
}

.input_div > input {
  border: none;
  margin-left: 40px;
  border-bottom: 1px solid gray;
  width: 1250px;
}

.input_div > input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  width: 1250px;
}

.CommentsInputContainer > div{
  padding-bottom: 30px;
  font-weight: bolder;
  font-size: 30px;
}

.input_div {
  margin-right: 100px;
}

.delete-comment {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 20px;
}

.controls {
  display: flex;
  position: fixed;
  bottom:0px;
  right:0px;
  background-color: black;
  width: 100%;
  left: 0;
  height: 80px;
  /* padding-left: 150px; */
  opacity: 0.8;
}


.volume {
  margin-top: 1.5%;
  margin-left: 80px;
}

.playBtn {
  margin-left: 100px;
}

.playBtn > button {
  margin-top: 25%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: orangered;
  color:white

}

.player_image > img {
  margin-top: 25%;
  width: 50px;
  height: 50px;
}

.player_songInfo {
  color: white;
  margin-top: 1%;
  margin-left: 20px;
}

.songs-area {
  margin-left: 100px;
  margin-top: 100px;
}

.follow {
  border-style: solid;
  width: 70px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

#wave-minimap {
  width: 900px;
}

.MyMenuButton-menu {
  position:absolute;
  /* width: 120px; */
  /* z-index: 2; */
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
}

.MyMenuButton-menu > ul {
  padding: 4px;
}
.MyMenuButton-menu > ul > li {
  list-style-type:none;
  text-align: left;
  font-size: 14px;
  padding: 5px;
}

.MyMenuButton-menu > ul > li:hover {
  background-color: whitesmoke;
  list-style-type:none;
  text-align: left;
  font-weight: bolder;
}

.menuBtn {
  padding: 4px;
  

}

.song__banner {
  border-radius: 20px;
}