
*{
  height: auto;
}

.home__page {
  width: 1500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  background-color: white;
}

/* .audio__player {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 80px;
  z-index: 1 ;
  background-color: whitesmoke;
  border-top: 1px solid gray;
} */

.banner > img {
  width: auto;
  height: auto;
  margin-top: 40px;
  margin-left: 50px;
  border-radius: 10px;


}

.banner {
  height: 300px;
}