@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.mainNavBar {
    background-color: #333;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 50px;
    z-index: 2;
}

.navbarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
}
.navbarItem {
    display: flex;
}

.LoginModalSubmit {
    font: inherit;
    background-color: #333;
    border: 1px solid gray;
    color: white;
    padding: 4px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.LoginModalSubmit:hover {
    border: 1px solid white;
}

.SignUpModalSubmit {
    font: inherit;
    background-color: #f50;
    border: none;
    color: white;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.LoginSignupLogout {
    display: flex;
    width: auto;
}

.SignUpModalSubmit:hover {
    background-color: #f50;
}


.profile__image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 5px;

}

.label1 {
    /* display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(5, 113, 221);
    color: white;
    justify-content: center; */
}

.label1 > div {
    
}

.MuiIcon-colorAction {
    color: white;
}

.iconButton {
    color: rgb(192, 189, 189);
    transform: rotate(90deg);
    background-color: #333;;
    border-style: none;
    cursor: pointer;
}

.iconButton:hover {
    color: white;
}

.iconButton:focus {
    outline: none;
    box-shadow: none;
}

.musicUploadButton {
    color: rgb(192, 189, 189);
    background-color: #333;;
    border-style: none;
    cursor: pointer;
    font-size: medium;
}

.musicUploadButton:hover {
    color: white;
}

.musicUploadButton:focus{
    outline: none;
    box-shadow: none;
}

.navbarItem > input {
    border-radius: 5px;
    height: 25px;
    width: 300px;
}

.libraryButton {
    color: rgb(192, 189, 189);
    background-color: #333;;
    border-style: none;
    cursor: pointer;
    font-size: medium;
    text-decoration: none;
}

.libraryButton:hover {
    color: white;
}

.libraryButton:focus {
    outline: none;
    box-shadow: none;
}

.logo > img {
    width: 50px;
    height: 50px;
}

.artist_name {
    color: rgb(192, 189, 189);
    padding: 10px; 
}

.artist_name:hover {
    color: white;
    padding: 10px; 
}

a:hover {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}


.dropdown__search-bar {
    background-color: #efefefe7;
    border-radius: 5px;
    height: 15px;
    width: 290px;
    position: absolute;
    padding: 10px;
    margin-top: 15px;
    list-style-type: none;
    
}

/* .popUp-search__anchor {
    color: #0f0f0f;
    display: flex;
    width: 328px;

    justify-content: center;
    min-height: 20px;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
} */
