

.developer-page {
  background-color: rgb(44, 43, 43);
  margin-top: 100px;
  color: white;
}


.developer__title {
  display: flex;
  /* justify-content: center; */
  margin-left: 44%;
}


.developers__page--container {
  display: flex;
  align-items: center;
  margin-right: 10%;
  margin-left: 45%;
  /* margin-top: 10%; */
}

.developer__image--outerContainer {

}

.developer__image--container > img {
  border-style: solid;
  border-color: white;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h2, h5 {
  color: white;
  text-align: center;
}


.link__logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.link__logo1 {
  margin-right: 10px;

}

.link__logo2 {
  margin-left: 10px;
}
