.UploadModalContainer {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  /* background-color: #333; */
}

.UploadModalFormTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 2em;
}

.UploadErrorModalContainer {
  border-radius: 10px;
  margin-left: 10px;
  color: #f04747;
}

.UploadErrorModalContainer > div {
  padding: 5px;
}

.UploadModalInputContainer {
  border-radius: 3px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.UploadModalInputContainer label {
  margin-bottom: 10px;
}

.UploadModalInputContainer > input {
  font: inherit;
  padding: 5px;
  /* border: 1px solid rgb(170, 170, 170); */
  width: 300px;
}

.UploadModalSubmit__form {
  font: inherit;
  background-color: #f50;
  border: none;
  color: white;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  width: 310px;
  border-radius: 5px;
}

.UploadModalSubmit__form:hover {
    background-color: rgb(247, 155, 110);
}

.UploadModalRadioContainer {
  margin-left: 10px;
}

.UploadModalRadioContainer > input {
  margin-top: -1px;
  vertical-align: middle;
  margin-left: 80px;
}
